/*
* {
    border: 1px solid blue;
}
*/

@font-face {
    font-family: 'centauri.airegular';
    src: url('fonts/centauri.ai-webfont.woff2') format('woff2'),
         url('fonts/centauri.ai-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h1{
    color: white;
    font-size: 40px;
    font-family: "centauri.airegular";
}


h2, p {
    color: white;
    
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.company {
    margin-bottom: -42px;

}


body {
    background-color: #222222;
}

